@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,500italic);

html {
    height: 100%;
    background-color: #222024;
    background: -webkit-radial-gradient(center, circle, #47414c 0%,
            #222024 100%);
    background: radial-gradient(circle at center, #47414c 0%, #222024 100%);
    background-repeat: no-repeat;
}

body {
    text-align: center;
    font: normal 100% 'Fira Sans', sans-serif;
}

h2 {
    font-size: 4vw;
}

h2 span {
    font-size: 60%;
}

a {
    color: #aaa;
}

.globe {
    margin: 1em 0 0 0;
    position: relative;
    display: inline-block;
    text-align: left;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 20px solid #f7dbcf;
    box-sizing: border-box;
    background: -webkit-linear-gradient(top, #86aecc 0%, #d4e4ef 100%);
    background: linear-gradient(to bottom, #86aecc 0%, #d4e4ef 100%);
    overflow: hidden;
    box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0,
            0, 0.3);
}

.globe:before,
.globe:after {
    position: absolute;
    content: "";
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 10;
}

.globe:before {
    height: 94%;
    width: 94%;
    top: 3%;
    right: 3%;
    border: 10px solid transparent;
    border-right-color: rgba(255, 255, 255, 0.3);
    border-right-width: 10px;
    border-right-style: solid;
}

.globe:after {
    top: 50px;
    right: 65px;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
}

.globe .bird {
    position: absolute;
    z-index: 1;
    left: 96px;
    top: 100px;
}

.globe .bird .body {
    position: absolute;
    width: 175px;
    height: 186px;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #11e7d7;
    box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.3);
}

.globe .bird .body:before,
.globe .bird .body:after {
    position: absolute;
    content: "";
    z-index: -1;
    width: 26px;
    height: 93px;
    border-radius: 50%;
    background-color: #11e7d7;
    box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.3);
    top: 70px;
}

.globe .wire {
    position: absolute;
    z-index: -1;
    width: 500px;
    height: 400px;
    left: -173px;
    top: -215px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: black;
}

.globe .hills {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30%;
    top: 230px;
    left: 60px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: -webkit-radial-gradient(ellipse at top left, #aad95d 0%, #bbc369 100%);
    background: radial-gradient(ellipse at top left, #aad95d 0%,
            #bbc369 100%);
    box-shadow: inset 5px 0 12px rgba(0, 0, 0, 0.2);
}

.globe .hills:before,
.globe .hills:after {
    position: absolute;
    content: "";
    width: 178px;
    height: 90px;
    border-radius: 50%;
    background: inherit;
    box-shadow: inherit;
}

.globe .hills:before {
    left: -90px;
    top: 30px;
    z-index: -1;
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.globe .hills:after {
    left: 0px;
    top: -55px;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}