#slider{
    width: 500px;
    height: 400px;
    overflow: hidden;
}

#slider .slides{
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide{
    float: left;
    list-style-type: none;
    width: 500px;
    height: 400px;
}

.slide1{
    background: red;
}

.slide2{
    background: blue;
}

.slide3{
    background: green;
}

.slide4{
    background: purple;
}

.slide5{
    background: pink;
}